.contenido .button {
    margin-top: 20px !important;
    display: block;
    max-width: 160px;
    font-size: 20px;
    text-align: center;
}

.lado-b {
    margin-bottom: 0px !important;
}

.marg-top{
    padding-top: 100px;
    margin-bottom: -80px;
}

.marg-botton{
    margin-bottom: 50px;
}