
body{
  background-color: #FFF6E9;
}

/* ----------------------------------------HEADER/MENÚ----------------------------------------- */

.menu {
  z-index: 2;
  position: fixed;
  top: 10px;
  right: 0;
  width: 31%;
  background: 0;
  opacity: 1;
  visibility: visible;
  transition: 0.5s;
}
.menu nav {
  display: flex;
}
.menu a {
  position: relative;
  font-family: "Bree Serif", serif;
  color: #000000;
  font-size: 15px;
  padding: 19px 60px;
  text-decoration: none;
  transition: 0.4s;
}
.menu a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 10px;
  width: 80%;
  height: 2px;
  border-radius: 2px;
  background: #000000;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: 0.3s;
}
.menu a:hover::after,
.menu a.active::after {
  transform: scaleX(1);
}

/* ----------------------------------------FOOTER----------------------------------------- */

footer {
  position: fixed;
  bottom: 20px;
}
h4{
  margin: 10px 10px;
}
.contact_footer, .locations, .info, .phone_number, .contact{
  display: flex;
}
i{
  font-size: 25px;
  margin: 0 10px;
  padding: 12px;
  color: #0D9276;
}
.locations, .contact{
  margin: 10px 0;
}
.email{
  display: flex;
  position: relative;
  left: 55px;
}